h1 {
    font: bold;
    font-size: 2em; 
    color: black;
    text-indent: 4ch;
}

h2 {
    font: bold;
    font-size: 1.5em; 
    color: black;
    text-indent: 6ch;
}

div {
    text-indent: 10ch;
}

footer {
    text-indent: 9.5ch;
}



ol {
    margin-left: 150px;
    list-style-type:decimal-leading-zero;
}

ul {
    margin-left: 150px;
    list-style-type: square type disc;
}